@model EntityLayer.Concrate.Comment

<form method="post" asp-controller="Comment" asp-action="Delete">
    <input asp-for="CommentID" hidden />
    <div class="border pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Kategori Sil</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="BlogID">Blog Id</label>
            <input asp-for="BlogID" disabled class="form-control" />

        </div>
        <div class="mb-3">
            <label asp-for="CommentID">CommentId</label>
            <input asp-for="CommentID" disabled class="form-control" />

        </div>
        <div class="mb-3">
            <label asp-for="CommentTitle">Yorum Başlığı</label>
            <input asp-for="CommentTitle" disabled class="form-control" />

        </div>
        <div class="mb-3">
            <label asp-for="CommentContent">Yorum Açıklaması</label>
            <input asp-for="CommentContent" disabled class="form-control" />

        </div>

        <button type="submit" class="btn btn-danger" style="widht:150px">Sil</button>
        <a asp-controller="Comment" asp-action="CommentListByBlog" class="btn btn-secondary" style="150px">
            Listeye Dön
        </a>
    </div>
</form>
@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}