<nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/inspinia-gh-pages/img/profile_small.jpg" />
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">Adem GÜNDÜZ</span>
                                <span class="text-muted text-xs block">Yazılım Mühendisi  </b></span>
                            </a>
                    
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>



            <li>
                <a href="mailbox.html">
                    <i class="fa fa-envelope"></i> <span class="nav-label">
                        Kategori
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/Category/Create">Kategori Ekle</a></li>
                            <li><a href="/Category/List">Kategori Düzenle</a></li>
                           
                        </ul>
            </li>

            <li>
                <a href="/Comment/List"><i class="fa fa-flask"></i> <span class="nav-label">Yorumlar</span></a>
            </li>
             <li>
                <a href="/Blog/List"><i class="fa fa-flask"></i> <span class="nav-label">Bloglar</span></a>
            </li>

        </ul>

            </div>
        </nav>